{% extends "base.html" %}
{% block content %}

<h2>Edit Skill</h2>

<div class="card p-4 bg-secondary bg-opacity-25">
    <form method="POST">
        <input name="category"
               class="form-control mb-2"
               value="{{ skill.category }}"
               required>

        <input name="name"
               class="form-control mb-3"
               value="{{ skill.name }}"
               required>

        <button class="btn btn-info">Save</button>
        <a href="{{ url_for('admin_dashboard') }}"
           class="btn btn-secondary ms-2">Cancel</a>
    </form>
</div>

{% endblock %}